<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited by Ryu Sawada -->
<ArgusMonitorDefinition>
	<Experiment>
		<ExperimentName>Tab Menue</ExperimentName>
		<ExperimentShortCut>TM</ExperimentShortCut>
		<ProgramName>monitor</ProgramName>
		<MonitorDescription>menus.</MonitorDescription>
	</Experiment>
	<Author>
		<AuthorName>Ryu Sawada</AuthorName>
		<AuthorInstitute>ICEPP, University of Tokyo</AuthorInstitute>
		<AuthorCollaboration>Mu-E-Gamma (MEG)</AuthorCollaboration>
		<AuthorEmail>ryu.sawada _AtMark_ psi.ch</AuthorEmail>
	</Author>
	<Tabs>
		<Tab>
			<TabName>T1</TabName>
			<TabTitle>T1</TabTitle>
			<Author>Ryu Sawada</Author>
			<TabVersion>1</TabVersion>
			<Menus>
			  <Menu>
			    <MenuTitle>T1 Color</MenuTitle>
			    <MenuItems>
			      <MenuItem>
				<MenuItemTitle>&amp;Black</MenuItemTitle>
				<MenuItemID>1</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Red</MenuItemTitle>
				<MenuItemID>2</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Green</MenuItemTitle>
				<MenuItemID>3</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>B&amp;lue</MenuItemTitle>
				<MenuItemID>4</MenuItemID>
			      </MenuItem>
			    </MenuItems>
			  </Menu>
			  <Menu>
			    <MenuTitle>T1 Size</MenuTitle>
			    <MenuItems>
			      <MenuItem>
				<MenuItemTitle>&amp;Small</MenuItemTitle>
				<MenuItemID>11</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Midium</MenuItemTitle>
				<MenuItemID>12</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Large</MenuItemTitle>
				<MenuItemID>13</MenuItemID>
			      </MenuItem>
			    </MenuItems>
			  </Menu>
			</Menus>
		</Tab>
		<Tab>
			<TabName>T2</TabName>
			<TabTitle>T2</TabTitle>
			<Author>Ryu Sawada</Author>
			<TabVersion>1</TabVersion>
			<Menus>
			  <Menu>
			    <MenuTitle>T2 Color</MenuTitle>
			    <MenuItems>
			      <MenuItem>
				<MenuItemTitle>&amp;Black</MenuItemTitle>
				<MenuItemID>1</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Red</MenuItemTitle>
				<MenuItemID>2</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Green</MenuItemTitle>
				<MenuItemID>3</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>B&amp;lue</MenuItemTitle>
				<MenuItemID>4</MenuItemID>
			      </MenuItem>
			    </MenuItems>
			  </Menu>
			  <Menu>
			    <MenuTitle>T2 Size</MenuTitle>
			    <MenuItems>
			      <MenuItem>
				<MenuItemTitle>&amp;Small</MenuItemTitle>
				<MenuItemID>11</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Midium</MenuItemTitle>
				<MenuItemID>12</MenuItemID>
			      </MenuItem>
			      <MenuItem>
				<MenuItemTitle>&amp;Large</MenuItemTitle>
				<MenuItemID>13</MenuItemID>
			      </MenuItem>
			    </MenuItems>
			  </Menu>
			</Menus>
		</Tab>
	</Tabs>
</ArgusMonitorDefinition>
