<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited by Ryu Sawada -->
<ROMEFrameworkDefinition>
	<Experiment>
		<ExperimentName>Tab Menue</ExperimentName>
		<ExperimentShortCut>TM</ExperimentShortCut>
		<ProgramName>monitor</ProgramName>
		<FrameworkDescription>menus.</FrameworkDescription>
	</Experiment>
	<Author>
		<AuthorName>Ryu Sawada</AuthorName>
		<AuthorInstitute>ICEPP, University of Tokyo</AuthorInstitute>
		<AuthorCollaboration>Mu-E-Gamma (MEG)</AuthorCollaboration>
		<AuthorEmail>http://www.icepp.s.u-tokyo.ac.jp/%7Esawada</AuthorEmail>
	</Author>
	<Tabs>
		<Tab>
			<TabName>T1</TabName>
			<TabTitle>T1</TabTitle>
			<TabVersion>1</TabVersion>
			<Menus>
				<Menu>
					<MenuTitle>T1 Color</MenuTitle>
					<MenuItems>
						<Menu>
							<MenuTitle>Gray</MenuTitle>
							<MenuItems>
								<MenuItem>
									<MenuItemTitle>Gray1</MenuItemTitle>
									<MenuItemEnumName>M_T1_Color_Gray_Gray1</MenuItemEnumName>
								</MenuItem>
								<MenuItem>
									<MenuItemTitle>Gray2</MenuItemTitle>
									<MenuItemEnumName>M_T1_Color_Gray_Gray2</MenuItemEnumName>
								</MenuItem>
								<MenuItem>
									<MenuItemTitle>Gray3</MenuItemTitle>
									<MenuItemEnumName>M_T1_Color_Gray_Gray3</MenuItemEnumName>
								</MenuItem>
								<MenuItem>
									<MenuItemTitle>Gray4</MenuItemTitle>
									<MenuItemEnumName>M_T1_Color_Gray_Gray4</MenuItemEnumName>
								</MenuItem>
								<Menu>
									<MenuTitle>DarkGray</MenuTitle>
									<MenuItems>
										<MenuItem>
											<MenuItemTitle>DarkGray1</MenuItemTitle>
											<MenuItemEnumName>M_T1_Color_Gray_DarkGray_DarkGray1</MenuItemEnumName>
										</MenuItem>
										<MenuItem>
											<MenuItemTitle>DarkGray2</MenuItemTitle>
											<MenuItemEnumName>M_T1_Color_Gray_DarkGray_DarkGray2</MenuItemEnumName>
										</MenuItem>
										<MenuItem>
											<MenuItemTitle>DarkGray3</MenuItemTitle>
											<MenuItemEnumName>M_T1_Color_Gray_DarkGray_DarkGray3</MenuItemEnumName>
										</MenuItem>
										<MenuItem>
											<MenuItemTitle>DarkGray4</MenuItemTitle>
											<MenuItemEnumName>M_T1_Color_Gray_DarkGray_DarkGray4</MenuItemEnumName>
										</MenuItem>
									</MenuItems>
								</Menu>
							</MenuItems>
						</Menu>
						<MenuItem>
							<MenuItemTitle>&amp;Black</MenuItemTitle>
							<MenuItemEnumName>M_T1_Color_Black</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Red</MenuItemTitle>
							<MenuItemEnumName>M_T1_Color_Red</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Green</MenuItemTitle>
							<MenuItemEnumName>M_T1_Color_Green</MenuItemEnumName>
						</MenuItem>
						<Line/>
						<MenuItem>
							<MenuItemTitle>B&amp;lue</MenuItemTitle>
							<MenuItemEnumName>M_T1_Color_Blue</MenuItemEnumName>
						</MenuItem>
					</MenuItems>
				</Menu>
				<Menu>
					<MenuTitle>T1 Size</MenuTitle>
					<MenuItems>
						<MenuItem>
							<MenuItemTitle>&amp;Small</MenuItemTitle>
							<MenuItemEnumName>M_T1_Size_Small</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Midium</MenuItemTitle>
							<MenuItemEnumName>M_T1_Size_Midium</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Large</MenuItemTitle>
							<MenuItemEnumName>M_T1_Size_Large</MenuItemEnumName>
						</MenuItem>
					</MenuItems>
				</Menu>
			</Menus>
		</Tab>
		<Tab>
			<TabName>T2</TabName>
			<TabTitle>T2</TabTitle>
			<TabVersion>1</TabVersion>
			<Menus>
				<Menu>
					<MenuTitle>T2 Color</MenuTitle>
					<MenuItems>
						<MenuItem>
							<MenuItemTitle>&amp;Black</MenuItemTitle>
							<MenuItemEnumName>M_T2_Color_Black</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Red</MenuItemTitle>
							<MenuItemEnumName>M_T2_Color_Red</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Green</MenuItemTitle>
							<MenuItemEnumName>M_T2_Color_Green</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>B&amp;lue</MenuItemTitle>
							<MenuItemEnumName>M_T2_Color_Blue</MenuItemEnumName>
						</MenuItem>
					</MenuItems>
				</Menu>
				<Menu>
					<MenuTitle>T2 Size</MenuTitle>
					<MenuItems>
						<MenuItem>
							<MenuItemTitle>&amp;Small</MenuItemTitle>
							<MenuItemEnumName>M_T2_Size_Small</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Midium</MenuItemTitle>
							<MenuItemEnumName>M_T2_Size_Midium</MenuItemEnumName>
						</MenuItem>
						<MenuItem>
							<MenuItemTitle>&amp;Large</MenuItemTitle>
							<MenuItemEnumName>M_T2_Size_Large</MenuItemEnumName>
						</MenuItem>
					</MenuItems>
				</Menu>
			</Menus>
		</Tab>
	</Tabs>
</ROMEFrameworkDefinition>
